<ion-view title="Signin To DekutApp">
  <ion-nav-bar class="bar bar-positive">

    <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-person-add flat" ui-sref="app.signup"></button>
      <!--  <button class="button button-icon icon  ion-log-out flat pull-right" ng-click="logout()"></button> -->
    </ion-nav-buttons>

  </ion-nav-bar>
  <ion-content class="has-subheader padding">
    <div>
      <form novalidate="novalidate" name="loginForm">
        <div class="list">
          <label class="item item-input item-floating-label">
            <!--  <i class="icon ion-ios7-person"></i> -->
            <span class="input-label">Email</span>
            <input type="text" id="test" name="username" placeholder="Email" ng-model="credentials.username" required>
          </label>

          <label class="item item-input item-floating-label">
            <!--    <i class="icon ion-ios7-locked"></i> -->
            <span class="input-label">Password</span>
            <input type="password" name="password" placeholder="Password" ng-model="credentials.password" required>
          </label>
        </div>
        <div class="padding">
          <button ng-disabled="!loginForm.$valid" class="button button-block button-positive waves-effect waves-button waves-light" ng-click="login()">
            Login
          </button>

          <button class="button button-block button-royal button-outline" ui-sref="app.signup">SignUp</button>

        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
