<ion-view title="Registration" class="ionic">
 <ion-nav-bar class="bar bar-header bar-dark" style="position: static; margin-bottom: 25px;">
   <a href="#/login">
   <button class="button icon ion-locked" href="#/login"></button>
</a>
    </ion-nav-bar>

    <ion-content>
        <form novalidate="novalidate" name="registerForm">
            <div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-ios-person"></i>
                    <input type="text" placeholder="Username" name="username" ng-model="registration.username" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-email"></i>
                    <input type="email" placeholder="E-mail" name="email" ng-model="registration.email" required>
                </label>
                <label class="item item-input">
                    <i class="icon ion-ios-locked"></i>
                    <input type="{{inputType}}" placeholder="Password" name="password" ng-model="registration.password"
                           required>

                </label>
                <ion-toggle ng-model="passwordCheckbox" toggle-class="toggle-calm" ng-click="hideShowPassword()" >Show password</ion-toggle>

             <div>

     </div>
            </div>

            <div class="padding row">
            <button ng-disabled="!registerForm.$valid" ng-click="register()"
                    class="button button-full button-flat button-positive icon-left ion-outlet">
                Register
            </button>
          </div>

                    </form>
    </ion-content>
</ion-view>
